<div class="input-form">
   <label for="title">Title</label>
   <input type="text" id="title" placeholder="enter title" autocomplete="off" name="title" value="<%= article.title %>"
      autofocus required>
</div>

<div class="input-form">
   <label for="tag">Tag</label>
   <input type="text" id="tag" placeholder="enter tag" autocomplete="off" name="tags" value="<%= article.tags %>"
      required>
</div>

<div class="input-form">
   <label for="markdwon">Markdown</label>
   <textarea id="markdwon" rows=" 45" placeholder="body markdown..." name="markdown"
      required><%= article.markdown %></textarea>
</div>

<button type="submit">Save Article</button>
<hr>
<a href="/">Cancel</a>