<div class="input-form">
   <label for="title">Title</label>
   <input type="text" id="title" placeholder="title" autocomplete="off" name="title" value="<%= article.title %>"
      autofocus required>
</div>

<div class="input-form">
   <select name="tag" required>
      <option selected hidden>Tags</option>
      <option value="html">HTML</option>
      <option value="css">CSS</option>
      <option value="nodejs">Node.js</option>
      <option value="reactjs">React.js</option>
      <option value="mongodb">MongoDB</option>
      <option value="javascript">Javascript</option>
      <option value="expressjs">Express.js</option>
   </select>
</div>

<div class="input-form">
   <label for="markdwon">Markdown</label>
   <textarea id="markdwon" rows=" 45" placeholder="markdown" name="markdown" required><%= article.markdown %></textarea>
</div>

<button type="submit">Save Article</button>
<hr>
<a href="/">Cancel</a>