<div class="input-form">
   <label for="title" class="input-form__label">Title</label>
   <input type="text" class="input-form__input" id="title" placeholder="title" name="title" value="<%= article.title %>"
      autofocus required>
</div>

<div class="input-form">
   <select name="tag" required>
      <option selected hidden>Tags</option>
      <option value="html">HTML</option>
      <option value="css">CSS</option>
      <option value="nodejs">Node.js</option>
      <option value="reactjs">React.js</option>
      <option value="mongodb">MongoDB</option>
      <option value="javascript">Javascript</option>
      <option value="expressjs">Express.js</option>
   </select>
</div>

<div class="input-form">
   <label for="markdwon" class="input-form__label">Markdown</label>
   <textarea class="input-form__textarea" id="markdwon" rows=" 45" placeholder="markdown" name="markdown"
      required><%= article.markdown %></textarea>
</div>

<button type="submit" class="button-form">Save Article</button>
<hr class="form-line">
<a href="/" class="redirect-button-form">Cancel</a>