<nav>
   <a href="/">
      <div class="logo"></div>
   </a>

   <div class="dropdown">
      <button class="dropbtn">Menu</button>
      <div class="dropdown-content">
         <a href="/article/edit/<%= article.id %>" class="edit-article">Edit Article</a>
         <button class="delete-article">Delete Article</button>
      </div>
   </div>
</nav>