<ul>
   <li><a href="/">All Articles</a></li>
   <li><a href="/article/tag/html">HTML</a></li>
   <li><a href="/article/tag/css">CSS</a></li>
   <li><a href="/article/tag/nodejs">Node.js</a></li>
   <li><a href="/article/tag/reactjs">React.js</a></li>
   <li><a href="/article/tag/mongodb">MongoDB</a></li>
   <li><a href="/article/tag/markdown">Markdown</a></li>
   <li><a href="/article/tag/javascript">Javascript</a></li>
   <li><a href="/article/tag/expressjs">Express.js</a></li>
</ul>