<div class="collapse">
   <button class="collapse__button">
      Choose tag<i class="collapse-button__icon">+</i>
   </button>

   <div class="collapse__content">
      <ul>
         <li><a href="/">All Articles</a></li>
         <li><a href="/tag/html">HTML</a></li>
         <li><a href="/tag/css">CSS</a></li>
         <li><a href="/tag/nodejs">Node.js</a></li>
         <li><a href="/tag/reactjs">React.js</a></li>
         <li><a href="/tag/mongodb">MongoDB</a></li>
         <li><a href="/tag/markdown">Markdown</a></li>
         <li><a href="/tag/javascript">Javascript</a></li>
         <li><a href="/tag/expressjs">Express.js</a></li>
      </ul>
   </div>
</div>