<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/full-navbar.css">
   <link rel="stylesheet" href="../css/home.css">
   <title>Home</title>
</head>

<body>
   <%- include('./partials/full-navbar') %>

   <div class="container">
      <div class="tags">
         <ul>
            <li><a href="#">Javascrip</a></li>
            <li><a href="#">NodeJs</a></li>
            <li><a href="#">ExpressJs</a></li>
            <li><a href="#">ReactJs</a></li>
            <li><a href="#">MongoDB</a></li>
         </ul>
      </div>

      <div class="articles">
         <div class="article">
            <a href="#" class="title">Linked List Data Structure in JavaScript Structure in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Custom errors in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Linked List Data Structure in JavaScript Structure in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Custom errors in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Linked List Data Structure in JavaScript Structure in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Custom errors in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Linked List Data Structure in JavaScript Structure in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Custom errors in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Linked List Data Structure in JavaScript Structure in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>

         <div class="article">
            <a href="#" class="title">Custom errors in JavaScript</a>
            <p class="published">Jun 29, 2020</p>
            <p class="tag">JavaScript</p>
            <hr>
         </div>
      </div>
   </div>
</body>

</html>