<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
</head>

<body>
      <%- include('./partials/navbar.ejs') %>

      <div class="container">
            <div class="row justify-content-center space-top">
                  <div class="col-10">
                        <div class="article">
                              <h2 class="mb-3">Bagaimana cara menjalankan program ketika data dari mysql berhasil di
                                    load</h2>
                              <h6 class="text-muted mb-4">25/3/2020</h6>
                              <p class="badge badge-primary text-wrap">
                                    NodeJs
                              </p>
                              <p class="badge badge-primary text-wrap">
                                    MySql
                              </p>
                              <p class="mb-4 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                    earum
                                    eaque tempora
                                    tenetur officia dolores, beatae nulla minus culpa natus. Veritatis quod praesentium
                                    consequatur, explicabo cumque aliquid. Cum dolorum quaerat quisquam delectus,
                                    excepturi omnis dolorem corrupti modi error similique. Minus rerum iusto numquam
                                    fugit iure veniam rem eum corrupti debitis!</p>

                              <button type="button" class="btn btn-info mb-4">Read More</button>
                              <hr class="mb-5">
                        </div>

                        <div class="article mt-4">
                              <h2 class="mb-3">Bagaimana cara menjalankan program ketika data dari mysql berhasil di
                                    load</h2>
                              <h6 class="text-muted mb-4">25/3/2020</h6>
                              <p class="badge badge-primary text-wrap">
                                    NodeJs
                              </p>
                              <p class="badge badge-primary text-wrap">
                                    MySql
                              </p>
                              <p class="mb-4 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
                                    earum
                                    eaque tempora
                                    tenetur officia dolores, beatae nulla minus culpa natus. Veritatis quod praesentium
                                    consequatur, explicabo cumque aliquid. Cum dolorum quaerat quisquam delectus,
                                    excepturi omnis dolorem corrupti modi error similique. Minus rerum iusto numquam
                                    fugit iure veniam rem eum corrupti debitis!</p>

                              <button type="button" class="btn btn-info mb-4">Read More</button>
                              <hr class="mb-5">
                        </div>
                  </div>
            </div>
</body>

</html>