.container {
   width: 800px;
   color: #ffffff;
   font-family: Ubuntu;
   justify-content: center;
   margin: 140px auto 50px auto;
}


/* TAGS */

.collapse-button {
   width: 100%;
   border: none;
   outline: none;
   padding: 15px;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   text-align: left;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

.collapse-button .collapse-icon {
   float: right;
   font-weight: bolder;
}

.active,
.collapse-button:hover {
   background-color: #38444d;
}

.collapse-content {
   padding: 18px;
   display: none;
   color: #ffffff;
   font-size: 20px;
   overflow: hidden;
   line-height: 24px;
   letter-spacing: 1px;
   box-sizing: border-box;
   font-family: monospace;
   background-color: #192734;
   border-left: 1px solid #253341;
   border-right: 1px solid #253341;
   border-bottom: 1px solid #253341;
}

.collapse-content a {
   color: #ffffff;
   text-decoration: none;
   transition: color 0.2s, text-decoration 0.2s;
}

.collapse-content a:hover {
   color: #8a2be2;
   text-decoration: underline;
}

.collapse-content ul li {
   margin-top: 15px;
}

.collapse-content ul li:last-child {
   margin-bottom: 15px;
}

/* TAGS */



/* Article */

.articles {
   width: 100%;
   margin-top: 40px;
   box-sizing: border-box;
   border: 1px solid #38444d;
   background-color: #192734;
   padding: 45px 25px 25px 20px;
}

a.title {
   color: #ffffff;
   font-size: 29px;
   line-height: 40px;
   font-weight: bolder;
   text-decoration: none;
   transition: color 0.2s;
}

p.published {
   color: #5f9ea0;
   font-size: 20px;
   letter-spacing: 2px;
   margin: 19px 0 24px 0;
   font-family: monospace;
}

.tag {
   float: left;
   padding: 6px;
   color: #000000;
   font-size: 16px;
   font-weight: bold;
   text-align: center;
   margin-right: 20px;
   letter-spacing: 1px;
   font-family: monospace;
   text-transform: lowercase;
   background-color: #ffff00;
}

hr {
   margin: 115px 0 50px 0;
   border: 1px solid #f5f5f5;
}

a.title:hover {
   color: #8a2be2;
}

/* Article */



/* No article */

h1.no-article {
   font-size: 24px;
   font-weight: bolder;
   margin-top: 180px;
   font-family: monospace;
}