.container {
   width: 900px;
   margin: auto;
   margin-top: 150px;
   color: whitesmoke;
   font-family: Ubuntu;
   display: flex;
   justify-content: center;
}


/* Article */

.articles {
   width: 770px;
   margin-left: 140px;
}

a.title {
   color: white;
   font-size: 30px;
   line-height: 40px;
   text-decoration: none;
   transition: .1s;
}

a.title:hover {
   color: blueviolet;
}

p.published {
   font-size: 20px;
   margin: 19px 0 24px 0;
   font-family: monospace;
}

.tag {
   float: left;
   width: 110px;
   padding: 6px;
   color: black;
   font-size: 15px;
   font-weight: bold;
   text-align: center;
   margin-right: 20px;
   letter-spacing: 1px;
   font-family: monospace;
   background-color: yellow;
}

hr {
   margin: 130px 0 65px 0;
   border: 5px dashed whitesmoke;
}

/* Article */


/* TAGS */

.tags {
   width: 100px;
   margin-left: -90px;
}

.tags ul {
   position: fixed;
}

.tags ul li {
   margin-top: 15px;
   list-style: square;
   margin-bottom: 35px;
   font-family: monospace;
}

.tags ul li a {
   color: white;
   font-size: 20px;
   letter-spacing: 1px;
   text-decoration: none;
   transition: .2s;
}

.tags ul li a:hover {
   color: blueviolet;
   text-decoration: underline;
}

/* TAGS */


/* No article */

h1.no-article {
   font-size: 25px;
   margin-top: 60px;
   font-family: monospace;
}