.container {
   width: 800px;
   color: #ffffff;
   font-family: Ubuntu;
   justify-content: center;
   margin: 140px auto 50px auto;
}


/* TAGS */

.collapse-button {
   width: 100%;
   border: none;
   outline: none;
   padding: 15px;
   color: #ffffff;
   cursor: pointer;
   font-size: 18px;
   text-align: left;
   font-family: monospace;
   box-sizing: border-box;
   background-color: #253341;
   transition: background-color 0.2s;
}

.collapse-button .collapse-icon {
   float: right;
   font-weight: bolder;
}

.active,
.collapse-button:hover {
   background-color: #38444d;
}

.collapse-content {
   display: none;
   color: #ffffff;
   font-size: 20px;
   overflow: hidden;
   letter-spacing: 1px;
   box-sizing: border-box;
   font-family: monospace;
   background-color: #192734;
   border-left: 1px solid #253341;
   border-right: 1px solid #253341;
   border-bottom: 1px solid #253341;
}

.collapse-content a {
   color: #ffffff;
   text-decoration: none;
   transition: color 0.3s, text-decoration 0.3s;
}

.collapse-content a:hover {
   color: #8a2be2;
   text-decoration: underline;
}

.collapse-content ul {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 25px;
   align-content: center;
   justify-content: center;
}

.collapse-content ul li {
   margin-top: 25px;
   margin-right: 25px;
   letter-spacing: 2px;
}


/* TAGS */



/* Article */

.articles {
   width: 100%;
   margin-top: 40px;
   box-sizing: border-box;
   border: 1px solid #38444d;
   background-color: #192734;
   padding: 45px 35px 25px 35px;
}

a.title {
   color: #ffffff;
   font-size: 29px;
   line-height: 40px;
   font-weight: bolder;
   text-decoration: none;
   transition: color 0.2s;
}

p.published {
   color: #5f9ea0;
   font-size: 20px;
   letter-spacing: 2px;
   margin: 19px 0 24px 0;
   font-family: monospace;
}

.tag {
   float: left;
   padding: 6px;
   color: #ffffff;
   font-size: 16px;
   margin-right: 20px;
   text-align: center;
   font-weight: bolder;
   letter-spacing: 1px;
   font-family: monospace;
   text-transform: lowercase;
   background-color: #51a97d;
}

hr {
   margin: 115px 0 50px 0;
   border: 1px solid #253341;
}

a.title:hover {
   color: #8a2be2;
}

/* Article */



/* No article */

.tag-not-found {
   text-align: center;
}

h1.no-article {
   font-size: 23px;
   font-weight: bolder;
   margin: 180px 0 25px 0;
   font-family: monospace;
}

a.home-btn {
   color: white;
   font-size: 23px;
   text-align: center;
   transition: color 0.2s;
   font-family: monospace;
}

a.home-btn:hover {
   color: #8a2be2;
}