* {
      font-family: Ubuntu;
      font-size: 18px;
}

body {
      background-color: rgb(238, 238, 238);
}


/* navbar */
a.logo img {
      width: 55px;
      height: 55px;
}


.space-top {
      margin-top: 155px;
}