/* body */
body {
  font-size: 19px;
  font-family: Ubuntu;
}





/* nav */
a.logo img {
  width: 65px;
  height: 65px;
}





/* article */
.article p {
  font-size: 21px;
}

.article hr {
  border-top: 1px solid black;
}





/* detail article */
h1.artilce-title {
  font-size: 45px;
}

h5.article-date {
  color: whitesmoke;
  margin-bottom: 15px;
  font-family: monospace;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#markdown-blog {
  font-size: 21px;
  font-family: Ubuntu;
  line-height: 33px;
}

#markdown-blog img {
  border: 2px solid slategray;
  border-radius: 5px;
}

#markdown-blog p {
  margin-top: 34px;
}

#markdown-blog blockquote {
  padding: 15px;
  margin: 33px 0;
  line-height: 33px;
  font-style: italic;
  background-color: whitesmoke;
  quotes: "\201C""\201D""\2018""\2019";
  border-left: 10px solid rgb(204, 204, 204);
}

#markdown-blog blockquote:before {
  color: #ccc;
  font-size: 3em;
  line-height: 0.1em;
  content: open-quote;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

#markdown-blog blockquote p {
  display: inline;
  font-style: italic;
}

#markdown-blog table,
th,
tr,
td {
  padding: 13px;
  border: 1px solid black;
}





/* for code line */
pre,
code,
span {
  font-size: 16.6px;
  line-height: 25px;
  border-radius: 6px;
  font-family: monospace;
}





/* another style */
.space-top {
  margin-top: 170px;
}

.to-right {
  text-align: right;
}

input.form-control,
textarea.form-control {
  transition: .2s;
  font-size: 18px;
}

input.form-control:focus,
textarea.form-control:focus {
  font-size: 18.2px;
  color: rgb(41, 39, 39);
  background-color: whitesmoke;
}

.read-more {
  font-family: monospace;
}