* {
      font-size: 18px;
}

body {
      font-family: Ubuntu;
      background-color: rgb(238, 238, 238);
}



/* navbar */
a.logo img {
      width: 55px;
      height: 55px;
}

.nav-item a.start-writing:hover {
      text-decoration: underline;
}


/* article */
.article hr {
      border-top: 1px solid black;
}

#markdown-blog {
      font-size: 22px;
      line-height: 32px;
}

/* for code line */
pre {
      border-radius: 5px;
}

pre code,
span {
      font-size: 17px;
      line-height: 23px;
}



.space-top {
      margin-top: 155px;
}