<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Detail</title>
</head>

<body>
      <%- include('../partials/navbar.ejs') %>

      <div class="container">
            <div class="row justify-content-center mb-5 space-top">
                  <div class="col-9">
                        <h1>Penjelasan Sederhana Tentang Time Complexity dan Big-O Notation</h1>
                        <h6 class="text-muted mb-4 mt-3">25/3/2020</h6>
                        <div class="mt-3" id="markdown-blog">Setiap programmer yang baik akan menggunakan cara yang
                              paling efektif dan efisien dalam menyelesaikan suatu permasalahan. Dan untuk bisa
                              melakukan hal tersebut, kita harus bisa meminimalisir kompleksitas dari algoritma yang
                              kita gunakan. <br><br> Big-O Notation adalah cara untuk mengkonversi keseluruhan
                              langkah-langkah suatu algoritma kedalam bentuk Aljabar, yaitu dengan menghiraukan
                              konstanta yang lebih kecil dan koefisien yang tidak berdampak besar terhadap keseluruhan
                              kompleksitas permasalahan yang diselesaikan oleh algoritma tersebut.
                        </div>
                  </div>
            </div>
      </div>
</body>

</html>