<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>New Article</title>
</head>

<body>
      <%- include('../partials/navbar2.ejs'); %>

      <div class="container space-top text-center">
            <h2>Edit Article</h2>
            <hr>
      </div>

      <div class="container">
            <div class="row justify-content-center mt-5 mb-5">
                  <div class="col-10">
                        <form action="/article/edit/<%= article.id %>?_method=PUT" method="POST">
                              <%- include('../partials/form.ejs'); %>
                        </form>
                  </div>
            </div>
      </div>
</body>

</html>