<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../../css/navbar.css">
   <link rel="stylesheet" href="../../css/form.css">
   <title>New Article</title>
</head>

<body>
   <%- include('../partials/navbar-2') %>

   <div class="container space-top-1">
      <form action="/article/new" method="POST" spellcheck="false">
         <%- include('../partials/form') %>
      </form>
   </div>
</body>

</html>