<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>New Article</title>
</head>

<body>
      <%- include('../partials/navbar2.ejs'); %>

      <div class="container">
            <div class="row justify-content-center mb-5 space-top">
                  <div class="col-11">
                        <form action="/article/new" method="POST">
                              <%- include('../partials/form'); %>
                        </form>
                  </div>
            </div>
      </div>
</body>

</html>